<html>

<head>
    <title>
        ROOSTER!
    </title>

    <link rel="stylesheet" href="https://meyerweb.com/eric/tools/css/reset/reset200802.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Slackey&display=swap" rel="stylesheet" />

    <link rel="icon" type="image/x-icon" href="../static/imgs/herodex-logo.svg" />

    <style>
        a {
            color: black;
        }

        a:hover {
            text-decoration: none;
        }

        h1,
        h2,
        h3,
        a,
        button {
            font-family: "Slackey", sans-serif;
        }
    </style>
</head>

<body>
    <div class="container my-5">
        <h3>
            <img src="../static/imgs/herodex-logo.svg" style="width: 10vw;" /> New <strong>Rooster</strong> Account
            <a class="btn btn-primary float-right" href="/">Go back!</a>
        </h3>
        <hr>

        <form class="form-control" enctype="multipart/form-data" method="POST" action="/register">
            <div class="col"
                style="display: flex; flex-direction: column; justify-content: center; align-items: space-around; margin: 1.5rem auto;">

                <div class="form-group" style="margin-top: 5rem;">
                    <div class="row">
                        <div class="col">
                            <label for="email">Email:</label>
                            <input required type="text" placeholder="johndoe123@yahoo.com" name="email"
                                id="email" class="form-control" />
                        </div>
                        <div class="col">
                            <label for="username"><strong>Rooster</strong> username:</label>
                            <input required type="text" placeholder="johndoe123" name="username"
                                id="username" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    
                    
                    
                    <div class="row">
                        <div class="col">
                            <label for="password">Password:</label>
                            <input required type="text" placeholder="8 or more characters" name="password" id="password" class="form-control" />
                        </div>
                        <div class="col">
                            <label for="passwordConfirm">Confirm password:</label>
                            <input required type="text" name="password_confirm" id="passwordConfirm" class="form-control" onfocusout="check(this)" />
                            <span id="pass-indicator" style="color: red"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col">
                            <label for="passKey"><span style="color: red">KEY PASS:</span></label>
                            <input type="text" placeholder="HINT: look at my portfolio" id="txt" name="key_pass"
                                id="keyPass" class="form-control" onkeyup="manage(this)" />
                        </div>
                        <div class="col">
                            <button disabled id="btSubmit" class="btn btn-primary btn-block btn-large"
                                style="margin-left: 30%; width: 70%;">START ROOSTING🗞️
                            </button>
                        </div>
                    </div>
                </div>
                {{#if flash}}
                <div class="alert alert-danger">
                    {{flash}}
                </div>
                {{/if}}
            </div>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>

    <script>
        function manage(txt) {
            var bt = document.getElementById("btSubmit");
            var password = document.getElementById("password");
            
            if (txt.value == "thetacderancode" && check(password)) {
                bt.disabled = false;
            } else {
                bt.disabled = true;
            }
        }

        function check(password) {
                var bt = document.getElementById("btSubmit");
                var confirm = document.getElementById("password");
                var flash = document.getElementById('pass-indicator');
                if ((password.value != confirm.value) && (password.value != '')) {
                    flash.innerHTML = "Passwords do not match"
                    return false;
                } else if ((password.value.length < 8) || (confirm.value.length < 8)) {
                    flash.innerHTML = "Password must be at least 8 characters long"
                    return false;
                } else {
                    flash.innerHTML = "Good"
                    flash.style.color = "green"
                    return true;
                }
            }

        // $("#spottedPhoto").change(function () {
        //     $("#spotted-photo").text(this.files[0].name);
        // });

        // 	Using ES6 feature
        // 	let manage = (txt) => {
        //     	let bt = document.getElementById('btSubmit');
        //         if (txt.value != '') {
        //             bt.disabled = false;
        //         }
        //         else {
        //             bt.disabled = true;
        //         }
        //     }

    </script>

</body>

</html>